/* responsive start */
@media (max-width: 1260px) {
    /* .about .about-content {
      margin-top: 100px;
    } */
    /* .cards .card{
        width: 220px;
    } */
    .cards .card .companyimg{
        width: 150px;
    }
   
    /* .cards{
      flex-wrap: wrap;
    } */
  }

  @media (max-width: 1150px){
    /* .cards .card{
        width: 180px;
    } */
    .cards .card .card-text{
      height: 105px;
    }
   
  }
  @media (max-width: 1050px) {
    .main .main-content {
    
      font-size: 14px;
      padding-bottom: 10px;
  
    }
    .about .about-content {
      margin-top: 5px;
    }
    .cards .card{
        /* width: 170px; */
        height: 240px;
    }
    
  }
  @media(max-width: 940px){
   
    .cards .card h3{
        font-size: 16px;
    }
    .cards .card p {
        font-size: 14px;
    }
    .cards .card .companyimg{
        width: 120px;
    }
    
  }
  @media (max-width: 890px) {
    .main .main-content {
      height: 240px;
      bottom: -5%;
      font-size: 13px;

    }
    .about .about-content {
      margin-top: 35px;
  }
  .vertical{
    padding-bottom: 20px;
  }

    /* .about .about-content {
      margin-top: 140px;
    } */
  }
  @media (max-width: 768px) {
    .navbar .nav-container{
      width: 100%;
      padding: 10px 40px;
    }
    .navbar .logo {
      width: 112px;
    }
    .navbar .menu {
      display: block;
    }
    .main .tree {
      top: 0px;
      z-index: 8;
    }
    .main .main-content {
      bottom: -19%;
      height: 245px;
  }
    .main .main-content h2 {
        width: 100%;
        padding: 0px 45px;
    }
    .left-leaf {
      top: 0% !important;
      left: 6% !important;
    }
    .right-leaf {
      width: 30px;
      top: 9%;
        right: 4%;
    }
    .right-leaf img {
      width: 100%;
    }
    .bottom-leaf {
      display: block;
      position: absolute;
      bottom: 3%;
      left: 22%;
    }
    .about,
    .about-kaktag{
        padding-bottom: 20px;
    }
    .about .about-content {
        width: 100%;
        padding:  0px 20px;
      margin-top: 120px;
      text-align: center;
    }
    .about-kaktag .about-kaktag-content,
    .impact .impact-container {
        width: 100%;
        padding:  0px 20px;
      text-align: center;
    }
    .about-kaktag-content p{
        padding-bottom: 10px !important;
    }
    .about p,
    .about-kaktag p {
      padding-right: 0px;
    }
    .about h2,
    .about-kaktag h2,
    .vertical .vertical-container h2,
    .impact .impact-container h2  {
      font-size: 30px;
    }
    .about-kaktag h2,
    .impact .impact-container h2{
        padding: 15px 0px;
    }
    .about .about-leaf {
      width: 40px;
      top: 6%;
      right: 15%;
    }
    .about .about-leaf img {
      width: 100%;
    }
    .about-kaktag .about-kleaf {
      position: absolute;
      bottom: 4%;
      left: 15%;
    }
    .vertical {
        padding: 15px 0px;
    }
    .vertical-container h2 {
        font-size: 25px;
        padding: 10px 0px !important;
        padding-top: 0px !important;
    }
    .vertical .left-leaf,
    .vertical .right-leaf{
        display: block;
    }
    .vertical .right-leaf{
       
            width: 30px;
            top: 1%;
            right: 7%;

    }
    .vertical .vleaf{
        display: none;
    }
    .vertical .vertical-container {
        width: 100%;
        padding: 0px 20px;
        text-align: center;
    }
    .vertical .vertical-container .vertical-content p{
        padding-right: 0px;
    }
    .vertical .left-leaf{
        position: absolute;
        left: 10%;
    }
    .cards{
       padding: 20px 0px;
    }
    .cards .card{
      width: 100% !important;
    }
    .cards .card .card-text{
      padding: 20px;
      height: 105px;
      font-size: 20px;
    }
    
    #krishidoot{
      margin-top: -6px;
  }
  .impact {
    background-color: #f7f7f7;
    padding-bottom: 30px;
}
    .footer-container{
        width: 100%;
        flex-direction: column-reverse;
        gap: 20px;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 10px 0px;
    }
    .footer-container .logo {
        width: 150px;
    }
   
    .footer-container .links ul li a{
        font-size: 14px;
    }
    .footer-container .links ul {
        gap: 10px;
    }
    .footer-container .go-to-top {
        top: -20px;
        right: 5%;
    }
  }
  
  @media (max-width: 670px) {
    .main .tree {
      width: 600px;
    }
    .main .main-content {
      height: 245px;
      bottom: -25%;
      padding-bottom: 10px;
  }
    .main .tree .btns a {
      font-size: 13px;
    }
    .btns .btn1 {
      top: 16%;
      right: 6%;
    }
    .btns .btn2 {
      top: 21%;
      right: 7%;
  }
    .btns .btn3 {
      top: 32%;
      right: 4%;
    }
    .btns .btn4 {
      top: 36%;
      left: 4%;
    }
    .btns .btn5 {
      top: 18%;
      left: 16%;
    }
    .about .about-content {
        margin-top: 135px;
    }
    .footer-container .links ul li a{
        padding-right: 8px;
    }
    .footer-container .links ul {
        gap: 8px;
    }
    .footer-container p{
        font-size: 15px;
    }
  }
  
  @media (max-width: 570px) {
    .temp-br {
      display: block;
      line-height: 0px;
    }
    .main .tree {
      width: 520px;
    }
    .main .main-content {
        height: 240px;
      bottom: -30%;
    }
    .main .main-content h2 {
        width: 100%;
        padding: 0px 35px;
    }
    .btns .btn1 {
      top: 14%;
      right: 9%;
  }
  .btns .btn2 {
    top: 21%;
    right: 6%;
}
.btns .btn3 {
  top: 32%;
  right: 3%;
}
.btns .btn4 {
  top: 36%;
  left: 3%;
}
.btns .btn5 {
  top: 18%;
  left: 16%;
}
    .about-kaktag .about-kleaf {
        position: absolute;
        bottom: 2%;
        left: 5%;
      }
    .about .about-content {
      margin-top: 145px;
    }
    .footer-container{
        gap: 10px;
    }
    .footer-container .links p{
        padding-top: 10px;
    }
    .footer-container .logo {
        width: 120px;
    }
    .footer-container .links ul li a{
        font-size: 12px;
        padding-right: 8px;
    }
    .footer-container .links ul {
        gap: 8px;
    }
    
  }
  
  @media (max-width: 490px) {
    .navbar {
      padding: 10px 20px;
    }
    .main .tree {
      width: 470px;
    }
    .main .main-content{
        height: 280px;
        bottom: -44%;
        padding-bottom: 10px;
    }
    .main .tree .btns a {
        font-size: 12px;
    }
    
    
    .left-leaf{
        width: 50px;
    }
    .left-leaf img{
        width: 100%;
    }
    .bottom-leaf {
      bottom: 3%;
      left: 16%;
    }
    .about,
    .about-kaktag{
        padding-bottom: 10px;
    }
    .about .about-content {
      margin-top: 170px;
    }
    .about h2, .about-kaktag h2,
    .vertical .vertical-container h2,
    .impact .impact-container h2  {
        font-size: 25px;
    }
    .impact{
      padding-bottom: 20px;
    }
    .footer-container .logo {
        width: 100px;
    }
    .footer-container .links ul li a{
        padding-right: 2px;
    }
    .footer-container .links ul {
        gap: 2px;
    }
    .footer-container p{
        font-size: 14px;
    }
  }

 
  @media (max-width: 460px){
    #mdottree{
      display: block;
    }
    #tree{
      display: none;
    }
    .navbar .logo {
        width: 100px;
    }
    .main .tree {
        width: 440px;
    }
    .main .main-content {
      height: 270px;
      bottom: -53%;
      font-size: 12px;
    }
    .main .tree .btns a {
      font-size: 12px;
  }
    .about .about-content {
      margin-top: 200px;
  }
  .about h2, .about-kaktag h2,
    .vertical .vertical-container h2,
    .impact .impact-container h2   {
        padding: 16px 0px;
    }
    .about .about-leaf {
        top: 3%;
        right: 10%;
    }
    .btns .btn1 {
        top: 13%;
        right: 11%;
      }
      .btns .btn2 {
        top: 21%;
        right: 4%;
      }
      .btns .btn3 {
        top: 32%;
        right: 4%;
      }
      .btns .btn4 {
        top: 36%;
        left: 4%;
      }
      .btns .btn5 {
        top: 18%;
        left: 13%;
      }
      .footer-container{
        gap: 5px;
    }
    .footer-container .links p{
        padding-top: 10px;
    }
      
  }

  @media (max-width: 430px){
    .main .tree {
        width: 400px;
        
    }
    .main .main-content {
      height: 300px;
        bottom: -68%;
        font-size: 12px;
    }
    .main .tree .btns a {
        font-size: 12px;
    }
    .main .main-content {
        padding-bottom: 15px;
    }
    .main .main-content h2 {
        width: 100%;
        padding: 0px 20px;
    }
        .about .about-content {
            margin-top: 240px;
        }
        .btns .btn4 {
          top: 36%;
          left: 3%;
      }
      .about .about-leaf {
        top: 1%;
        right: 10%;
    }
    .about h2,.about-kaktag h2,
    .impact .impact-container h2 {
      padding: 12px 0px;
    }
    .cards{
      padding: 10px 0px;
   }

    
  }

  @media (max-width: 400px){
    .main .tree {
        width: 370px;
    }
    
    .main .main-content {
        bottom: -75%;
        font-size: 12px;
    }
    .main .tree .btns a {
        font-size: 11px;
    }
    .main .main-content {
        padding-bottom: 15px;
    }
    .main .main-content h2 {
        width: 100%;
        padding: 0px 20px;
    }
    .about .about-content {
        margin-top: 245px;
    }
    .btns .btn2 {
      top: 21%;
      right: 4%;
  }
  .cards{
    padding: 0px 0px;
    padding-top: 10px;
 }
  }

  
  @media (max-width: 360px) {
    .main .tree {
        width: 340px;
    }
    .main .main-content {
      height: 315px;
        bottom: -89%;
        font-size: 12px;
    }
    .main .tree .btns a {
        font-size: 11px;
    }
    .about h2{
        padding: 10px 0px;
    }
  
    .main .main-content {
        padding-bottom: 15px;
    }
    .main .main-content h2 {
        width: 100%;
        padding: 0px 20px;
    }
    .main .main-content {
      font-size: 11px;
    }
    .footer-container .links ul li a{
        font-size: 10px;
    }
    .bottom-leaf {
        bottom: 1%;
        left: 14%;
    }
    .about .about-leaf {
        top: 0%;
        right: 5%;
    }
    .about .about-content {
        margin-top: 268px;
    }
    .btns .btn1 {
      top: 12%;
      right: 11%;
  }
  .btns .btn5 {
    top: 18%;
    left: 12%;
}
  }

  @media (max-width:320px){
    .main .tree {
        width: 310px;
    }
    .main .main-content {
      height: 330px;
        bottom: -105%;
        font-size: 12px;
        padding-bottom: 10px;
    }
    .main .tree .btns a {
      font-size: 10px;
  }
    .btns .btn1 {
      top: 12%;
      right: 11%;
  }
    .btns .btn2 {
      top: 20%;
      right: 3%;
  }
  .btns .btn3 {
    top: 32%;
    right: 4%;
}
.btns .btn4 {
  top: 36%;
  left: 3%;
}
.btns .btn5 {
  top: 17%;
  left: 12%;
}
.about .about-content {
  margin-top: 286px;
}
  }
  /* responsive end */
  