/* responsive start */

@media (max-width: 2560px){
  .main .main-content{
    height: 250px;
    bottom: 1%;
  }
  /* .about{
    margin-top: 80px;
  } */
}
@media (max-width: 1260px) {
    /* .about .about-content {
      margin-top: 100px;
    } */
    /* .cards .card{
        width: 220px;
    } */
    .cards .card .companyimg{
        width: 150px;
    }
   
    /* .cards{
      flex-wrap: wrap;
    } */
  }

  @media (max-width: 1230px){
    .main .main-content {
      height: 220px;
      font-size: 14px;
      bottom: 5%;
      padding-bottom: 10px;
  
    }
    .about  {
      margin-top: 0px;
    }
    
  }
  @media (max-width: 1050px) {
   
    .about, .about-kaktag{
      margin-top: 0px;
    }
    .portfolio{
      padding: 10px 0px;
    }
    .cards{
      padding: 20px 0px;
    }
    
  }
  @media(max-width: 940px){
   
    .cards .card h3{
        font-size: 16px;
    }
    
    .cards .card .companyimg{
        width: 120px;
    }
    
  }
  @media (max-width: 890px) {
    .main .main-content {
      height: 260px;
      bottom: 0%;
      font-size: 13px;

    }
    .main-content .left-leaf {
      position: absolute;
      top: 16%;
      left: 8%;
      width: 40px;
  }
  .right-leaf {
    position: absolute;
    top: 8%;
    right: 8%;
    width: 55px;
}
    .about  {
      margin-top: 20px;
  }
  .portfolio{
    padding-bottom: 20px;
  }

    /* .about .about-content {
      margin-top: 140px;
    } */
  }
  @media (max-width: 768px) {
    .navbar .nav-container{
      width: 100%;
      padding: 10px 20px;
    }
    .navbar .logo {
      width: 112px;
    }
    .navbar .menu {
      display: block;
    }
    .main .tree {
      top: -20px;
      z-index: 8;
    }
    .main-content p{
      width: 100%;
      padding: 0px 20px;
      /* font-size: 15px !important;
      line-height: 25px;
      font-weight: 500 !important; */
    }
    .main .main-content {
      bottom: -2%;
      height: 200px;
  }
    .main .main-content h2 {
        width: 100%;
        padding: 0px 45px;
    }
    .left-leaf {
      top: 0% !important;
      left: 6% !important;
    }
    .right-leaf {
      width: 30px;
      top: 9%;
        right: 4%;
    }
    .right-leaf img {
      width: 100%;
    }
    .bottom-leaf {
      display: block;
      position: absolute;
      bottom: 3%;
      left: 22%;
    }
    .about,
    .about-kaktag{
        padding-bottom: 10px;
    }
    .about{
      margin-top: 80px;
    }
    .about .about-content {
        width: 100%;
        padding:  0px 20px;
     
      text-align: center;
    }
    .about{
      margin-top: 28px;
    }
    .about-kaktag{
      margin-top: 0px;
    }
    .about-kaktag .about-kaktag-content,
    .impact .impact-container {
        width: 100%;
        padding:  0px 20px;
      text-align: center;
    }
    .about-kaktag-content p{
        padding-bottom: 10px !important;
    }
    .about p,
    .about-kaktag p {
      padding-right: 0px;
    }
    .about h2,
    .about-kaktag h2,
    .portfolio .portfolio-container h2,
    .impact .impact-container h2  {
      font-size: 20px;
    }
    .about-kaktag h2,
    .impact .impact-container h2{
        padding: 15px 0px;
    }
    .about .about-leaf {
      width: 40px;
      top: 6%;
      right: 15%;
    }
    .about .about-leaf img {
      width: 100%;
    }
    .about-kaktag .about-kleaf {
      position: absolute;
      bottom: 4%;
      left: 15%;
    }
    .portfolio {
        padding: 15px 0px;
    }
    .portfolio .portfolio-container p{
      width: 100%;
    }
    .portfolio-container h2 {
        /* font-size: 25px; */
        padding: 10px 0px !important;
        padding-top: 0px !important;
    }
    .portfolio .left-leaf,
    .portfolio .right-leaf{
        display: block;
    }
    .portfolio .right-leaf{
       
            width: 40px;
            top: 1%;
            right: 7%;

    }
    .portfolio .vleaf{
        display: none;
    }
    .portfolio .portfolio-container {
        width: 100%;
        padding: 0px 20px;
        text-align: center;
    }
    .portfolio .portfolio-container .portfolio-content p{
        padding-right: 0px;
    }
    .portfolio .left-leaf{
        position: absolute;
        left: 10%;
        width: 32px;
    }
    .cards{
       padding: 20px 0px;
    }
    .cards .card{
      width: 100% !important;
    }
    .cards .card .card-text{
      font-size: 20px;
    }
    
    #krishidoot{
      margin-top: -6px;
  }
  .impact {
    margin-top: 0px;
    padding-bottom: 30px;
}
.about-lleaf {
  position: absolute;
  left: 8%;
  top: 4%;
  width: 32px;
}
.about-rleaf {
  position: absolute;
  top: 8%;
  right: 8%;
  width: 40px;
}
.about-rleaf img{
  width: 100%;
}
.impact-lleaf {
  position: absolute;
  top: -16%;
  left: 5%;
  width: 32px;
}
.impact-lleaf img{
  width: 100%;
}
.impact-rleaf {
  position: absolute;
  top: -20%;
  right: 5%;
  width: 50px;
}
.impact-rleaf img{
  width: 100%;

}
.cards .card-container{
  width: 100%;
}
/* .cards .card p{
  font-size: 14px;
} */
.portfolio-content p{
  width: 101%;
}
 /* .about p, .about-kaktag p, .portfolio .portfolio-container .portfolio-content p, .impact-container p{
  font-size: 14px;
  line-height: 22px;
} */
    .footer-container{
        width: 100%;
        flex-direction: column-reverse;
        gap: 20px;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 10px 0px;
    }
    .footer-container .logo {
        width: 150px;
    }
   
    .footer-container .links ul li a{
        font-size: 16px;
    }
    .footer-container .links ul {
        gap: 10px;
    }
    .footer-container .go-to-top {
        top: -20px;
        right: 5%;
    }
    .approach-img, .portfolio-img, .about-img, .impact-img{
      width: 60px;
      margin: 0 auto;
    }
    .approach-img img, .portfolio-img img, .about-img img, .impact-img img{
      width: 100%;
    }
  }
  
  @media (max-width: 670px) {
    .main .tree {
      width: 600px;
    }
    .main .main-content {
      height: 170px;
        bottom: -1%;
        padding-bottom: 10px;
        
  }
    .main .tree .btns a {
      font-size: 13px;
    }
    .btns .btn1 {
      top: 14%;
      right: 8%;
    }
    .btns .btn2 {
      top: 29%;
      right: 7%;
  }
    .btns .btn3 {
      top: 29%;
      right: 5%;
    }
    .btns .btn4 {
      top: 34%;
      left: 4%;
    }
    .btns .btn5 {
      top: 18%;
      left: 15%;
    }
    /* .about  {
        margin-top: 106px;
    } */
    .footer-container .links ul li a{
        padding-right: 8px;
    }
    .footer-container .links ul {
        gap: 8px;
    }
    .footer-container p{
        font-size: 15px;
    }
  }
  
  @media (max-width: 570px) {
    .temp-br {
      display: block;
      line-height: 0px;
    }
    .main .tree {
      width: 520px;
    }
    .main .main-content {
      height: 150px;
      bottom: -1%;
    }
    .main .main-content h2 {
        width: 100%;
        padding: 0px 35px;
    }
    .btns .btn1 {
      top: 13%;
      right: 11%;
  }
  .btns .btn2 {
    top: 21%;
    right: 6%;
}
.btns .btn3 {
  top: 29%;
  right: 4%;
}
.btns .btn4 {
  top: 33%;
  left: 3%;
}
.btns .btn5 {
  top: 17%;
  left: 14%;
}
.about  {
  margin-top: 15px;
}
    .about-kaktag .about-kleaf {
        position: absolute;
        bottom: 2%;
        left: 5%;
      }
    
    .cards .card-container {
      grid-template-columns: 1fr;
    }
    .footer-container{
        gap: 10px;
    }
    .footer-container .links p{
        padding-top: 10px;
    }
    .footer-container .logo {
        width: 120px;
    }
    .footer-container .links ul li a{
        font-size: 14px;
        padding-right: 8px;
    }
    .footer-container .links ul {
        gap: 8px;
    }
    
  }
  
  @media (max-width: 490px) {
  
    .main .tree {
      width: 470px;
    }
    .main .main-content{
      height: 138px;
      bottom: -1%;
      /* font-size: 12px; */
    }
    .main .tree .btns a {
        font-size: 12px;
    }
    .btns .btn1 {
      top: 12%;
      right: 11%;
  }
    .btns .btn3 {
      top: 29%;
      right: 4%;
  }
  .btns .btn5 {
    top: 17%;
    left: 14%;
}
.btns .btn4 {
  top: 34%;
  left: 3%;
}
    .left-leaf{
        width: 50px;
    }
    .left-leaf img{
        width: 100%;
    }
    .bottom-leaf {
      bottom: 3%;
      left: 16%;
    }
    .about,
    .about-kaktag{
        padding-bottom: 10px;
    }
    /* .about {
      margin-top: 130px;
    } */
    .about h2, .about-kaktag h2,
    .portfolio .portfolio-container h2,
    .impact .impact-container h2  {
        font-size: 25px;
    }
    .impact{
      padding-bottom: 20px;
    }
    .footer-container .logo {
        width: 100px;
    }
    .footer-container .links ul li a{
        padding-right: 2px;
    }
    .footer-container .links ul {
        gap: 2px;
    }
    .footer-container p{
        font-size: 14px;
    }
  }

 
  @media (max-width: 460px){
    #mdottree{
      display: block;
    }
    #tree{
      display: none;
    }
    .navbar .logo {
        width: 100px;
    }
    .main .tree {
        width: 440px;
    }
    .main .main-content {
      height: 150px;
      bottom: -6%;
        
    }
    .main-content p{
      font-size: 2vmax;
       font-weight: 500; 
       line-height: 1.32;
    }
    .about p, .about-kaktag p, .portfolio .portfolio-container .portfolio-content p, .impact-container p, .cards .card p{
      font-size: 2vmax;
       font-weight: 400; 
       line-height: 1.32;
    }
    .main .tree .btns a {
      font-size: 12px;
  }
    .about {
      margin-top: 40px;
  }
  .cards .card{
    height: 200px;
  }
  /* .cards .card p {
    font-size: 12px;
} */
  .about h2, .about-kaktag h2,
    .portfolio .portfolio-container h2,
    .impact .impact-container h2   {
      font-size: 3vmax;
      
        font-weight: 600;
        padding: 5px 0px !important;
    }
    .about .about-leaf {
        top: 3%;
        right: 10%;
    }
    .btns .btn1 {
        top: 12%;
        right: 10%;
      }
      .btns .btn2 {
        top: 21%;
        right: 4%;
      }
      .btns .btn3 {
        top: 29%;
        right: 4%;
      }
      .btns .btn4 {
        top: 34%;
        left: 2%;
      }
      .btns .btn5 {
        top: 17%;
        left: 14%;
      }
      .portfolio {
        padding: 20px 0px;
    }
      .footer-container{
        gap: 5px;
    }
    .footer-container .links ul li a{
      font-size: 10px;
    }
    .footer-container .links p{
        padding-top: 10px;
    }
      
  }

  @media (max-width: 430px){
    .main .tree {
        width: 400px;
        
    }
    .main .main-content {
      height: 220px;
      bottom: -27%;
        /* font-size: 12px; */
      padding-bottom: 15px;
    }
    .main .tree .btns a {
        font-size: 11px;
    }
    
    .main .main-content h2 {
        width: 100%;
        padding: 0px 20px;
    }
    .about, .about-kaktag {
      padding: 10px 0px;
  }
  .cards .card .card-img {
    width: 100px;
  }
    .cards .card .top {
    
      gap: 15px;
  }
        .about  {
            margin-top: 100px;
        }
        .btns .btn4 {
          top: 34%;
          left: 2%;
      }
      .left-leaf {
        top: 0% !important;
        left: 4% !important;
    }
      .right-leaf {
        width: 30px;
        top: 9%;
        right: 3%;
    }
      .about .about-leaf {
        top: 1%;
        right: 10%;
        width: 30px;
    }
    .portfolio .right-leaf {
      width: 30px;
      top: 1%;
      right: 7%;
  }
  .about-rleaf {
    position: absolute;
    top: 8%;
    right: 8%;
    width: 30px;
}
.portfolio .left-leaf {
  position: absolute;
  left: 10%;
  width: 25px;
}
.about-lleaf {
  position: absolute;
  left: 8%;
  top: 4%;
  width: 25px;
}
    .about h2,.about-kaktag h2,
    .impact .impact-container h2 {
      padding: 12px 0px;
    }
    .cards{
      padding: 10px 0px;
   }
   .footer-container p {
    font-size: 12px;
  }
  #about, #portfolio, #kaktag, #impact{
    scroll-margin-top: 70px;
  }

    
  }

  @media (max-width: 400px){
    .main .tree {
        width: 370px;
    }
    
    
    .main .tree .btns a {
        font-size: 10px;
    }
    /* .main .main-content {
      height: 130px;
      bottom: -7%;
    
      padding-bottom: 15px;
    } */
    .main .main-content {
      height: 200px;
      bottom: -26%;
        /* font-size: 12px; */
      padding-bottom: 15px;
    }
    .about  {
      margin-top: 100px;
  }
    .main .main-content h2 {
        width: 100%;
        padding: 0px 20px;
    }
    /* .about  {
      margin-top: 30px;
  } */
    .btns .btn2 {
      top: 21%;
      right: 4%;
  }
  .cards{
    padding: 0px 0px;
    padding-top: 10px;
 }

  }

  @media (max-width:386px){
    /* .main .main-content {
      height: 130px;
      bottom: -7%;
    
    }
    .about {
      margin-top: 30px;
  } */
  }
  
  @media (max-width: 360px) {
    .main .tree {
        width: 340px;
    }
    .main .main-content {
      height: 180px;
      bottom: -25%;
  }
  .main-content p{
    font-size: 1.8vmax;
  }
    .main .tree .btns a {
        font-size: 10px;
    }
    .about h2{
        padding: 10px 0px;
    }
  
    .main .main-content {
        padding-bottom: 15px;
    }
    .main .main-content h2 {
        width: 100%;
        padding: 0px 20px;
    }
    .main .main-content {
      font-size: 11px;
    }
    .footer-container .links ul li a{
        font-size: 12px;
    }
    .bottom-leaf {
        bottom: 1%;
        left: 14%;
    }
    .about{
      margin-top: 90px;
    }
    .about .about-leaf {
        top: 0%;
        right: 5%;
    }
    
    .btns .btn1 {
      top: 12%;
      right: 9%;
  }
  .btns .btn3 {
    top: 29%;
    right: 3%;
}
  .btns .btn5 {
    top: 17%;
    left: 13%;
}
  }

  @media (max-width:320px){
    .main .tree {
        width: 310px;
    }
    .main .main-content {
      height: 140px;
      bottom: -15%;
      /* font-size: 12px; */
    }
    .main .tree .btns a {
      font-size: 10px;
  }
    .btns .btn1 {
      top: 12%;
      right: 10%;
  }
    .btns .btn2 {
      top: 20%;
      right: 3%;
  }
  .btns .btn3 {
    top: 29%;
    right: 3%;
}
.btns .btn4 {
  top: 34%;
  left: 1%;
}
.btns .btn5 {
  top: 17%;
  left: 12%;
}
.about  {
  margin-top: 50px;
}
  }
  /* responsive end */
  