@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
}
p{
  color: #4e4e4e;
}

/* navbar start */
.dummy-nav{
  width: 100%;
  height: 90px;
  /* background-color: #fff; */
}
.navbar {
  
  width: 100%;
  margin: 0 auto;
  padding: 10px 0px;
  position: fixed;
  top: 0%;
  z-index: 10;
  background-color: #fff;
}
.navbar .nav-container{
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .logo {
  width: 160px;
}
.navbar .logo img {
  width: 100%;
}

.navbar .menu {
  width: 20px;
  display: none;
}
.navbar .menu img {
  width: 100%;
}

/* Sidebar Styles */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: #fff;
  color: #000;
  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
  padding: 20px;
  z-index: 1000;
  display: none; /* Hide sidebar by default */
}

.sidebar.open {
  transform: translateX(0);
  opacity: 1;
  display: block; /* Ensure visibility when open */
  z-index: 100;
}

.sidebar .sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar .close-btn {
  background: none;
  border: none;
  color: #000;
  font-size: 45px;
  cursor: pointer;
}

.sidebar .logo {
  font-size: 24px;
  text-decoration: none;
  color: #fff;
}

.sidebar .sidebar-links {
  list-style: none;
  margin: 24px 0 0;
  padding: 0;
}

.sidebar .sidebar-links li {
  margin: 15px 0;
  padding-bottom: 15px;
  border-bottom: 1px solid #fff;
}

.sidebar .sidebar-links #aboutus{
  border-bottom: none;
}

.sidebar .sidebar-links a {
  text-decoration: none;
  color: #000;
  font-size: 22px;
  
}

.sidebar .sidebar-links a:hover {
  color: #618f1f;
}
/* navbar end */

/* main start */
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.main .tree {
  z-index: 10;
  width: 700px;
  position: relative;
  top: -88px;
}

.main .tree img {
  width: 100%;
}

.main .tree .btns a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  text-shadow: 2px 2px 4px none;;
  transition: all 0.2s ease-in-out;
}
.main .tree .btns a:hover{
  color: #fff;
  text-shadow: 2px 2px 4px #000000;
}

.btns .btn1 {
  position: absolute;
  top: 16%;
  right: 6%;
}
.btns .btn2 {
  position: absolute;
  top: 22%;
  right: 7%;
}
.btns .btn3 {
  position: absolute;
  top: 33%;
  right: 4%;
}
.btns .btn4 {
  position: absolute;
  top: 36%;
  left: 4%;
}
.btns .btn5 {
  position: absolute;
  top: 18%;
  left: 17%;
}
.main .main-content {
  background-color: #f7f7f7;
  height: 215px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* padding: 0px 50px; */
  padding-bottom: 14px;
  z-index: 1;
  position: absolute;
  bottom: -1%;
  font-size: 16px;
}

.main .main-content h2 {
  width: 75%;
}
.temp-br {
  display: none;
}
.main-content .left-leaf {
  position: absolute;
  top: 16%;
  left: 20%;
  width: 40px;
}
.main-content .left-leaf img{
  width: 100%;
}
.right-leaf {
  position: absolute;
  top: 10%;
  right: 16%;
  width: 50px;
}
.right-leaf img{
  width: 100%;
}

.bottom-leaf {
  display: none;
}
/* main end */

/* ABout us start */
.about,
.about-kaktag{
  width: 100%;
  position: relative;
  padding-bottom: 20px;
}
.about .about-content{
  width: 70%;
  margin: 0 auto;
}
.about h2,
.about-kaktag h2,
.vertical .vertical-container h2,
.impact-container h2{
  font-size: 25px;
  padding: 20px 0px;
}
.main-content p {
  width: 70%;
  margin:0 auto;
}
.main-content p ,.about p,
.about-kaktag p,
.vertical .vertical-container .vertical-content p,
.impact-container p{
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  /* padding-right: 50px; */
}
.about .about-leaf {
  position: absolute;
  top: 24%;
  right: 10%;
  width: 30px;
}
.about .about-leaf img{
  width: 100%;
}
#mdottree{
  display: none;
}
/* ABout us end */

/* vertical start */
.vertical{
  width: 100%;
  position: relative;
  background-color: #f7f7f7;
  padding: 10px 0px;
  padding-bottom: 25px;
}
.vertical .vleaf{
  position: absolute;
  top: 0%;
  right: 1%;
  width: 200px;
}
.vertical .left-leaf{
  width: 50px;
  display: none;
}
.vertical .left-leaf img{
  width: 100%;
}
.vertical .right-leaf{
  display: none;
}
.vertical .vleaf img{
  width: 100%;
}
.vertical .vertical-container{
  width: 70%;
  margin: 0 auto;
}
/* cards start */
.cards {
  width: 100%;
  background-color: hsl(0, 0%, 97%);
  padding: 30px 0px;
  position: relative;
}
.cards .portleaf {
  position: absolute;
  right: 5%;
  top: 5%;
}
.cards .card-container {
  /* width: 75%;
  margin: 0 auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.cards .card {
  width: 265px;
  height: 280px;
  padding: 15px 20px;
  /* background-color: #000; */
  color: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  transition: background-size 0.3s ease;
}
.cards .card  p{
  color: #fff !important;
}
.cards .card:hover {
  background-size: 180%;
}
.card .bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: 600;
}
.card .bottom span {
  display: block;
  width: 40px;
  height: 2px;
  background-color: #fff;
}
.card1 {
  background: url("Images/BG1.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.card2 {
  background: url("Images/BG2.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.card3 {
  background: url("Images/BG3.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.card4 {
  background: url("Images/BG4.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.card5 {
  background: url("Images/BG5.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (max-width: 768px) {
  .portleaf {
    display: none;
  }
}
@media (max-width: 426px) {
  
  .cards .card-container {
    gap: 15px;
    width: 100%;
    /* padding: 0px 20px; */
  }
  .cards .card {
    width: 100%;
  }
}
/* cards end here */

/* vertical end */

/* About kaktag start */
.about-kaktag .about-kaktag-content {
  width: 70%;
  margin: 0 auto;
}
.about-kaktag .about-kleaf {
  position: absolute;
  bottom: 15%;
  left: 30%;
}
/* About kaktag end */
/* impact start */
.impact{
  background-color: #f7f7f7;
  padding-bottom: 50px;
}
.impact-container{
  width: 70%;
  margin: 0 auto;
}
/* impact end */
/* footer start */

footer{
  background-color: #fff;
}
.footer-container{
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0px;
  position: relative;
}

.footer-container .links ul{
  display: flex;
  align-items: center;
  gap: 15px;
}
.footer-container .links ul li{
  list-style: none;
  color: black;
}
.footer-container .links ul li a{
  text-decoration: none;
  color: black;
  padding-right: 15px;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
}
.footer-container .logo{
  width: 100px;
}
.footer-container .logo img{
  width: 100%;
}
.footer-container .links p{
  padding-top: 20px;
  color: #666666;
}
.footer-container .links ul li a:hover{
  color: #729419;
}

.footer-container .go-to-top{
  position: absolute;
  top: -20px;
  right: 0%;
  width: 40px;
}
.footer-container .go-to-top img{
  width: 100%;
}
/* footer end */

